body {
    background-color: white;
}
table {
    margin-left: auto;
    margin-right: auto;
}
table {
    border: none;
}
table > tr {
    border: none;
}
table > td {
    border: none;
}
div.absoluta {
    width: 150px;
    position: absolute;
    z-index: 9999;
    height: 282px;
    background-color: white;
}

#controllers {
    text-align: center;
}
#text-place {
    font-family: tahoma, sans-serif;
    text-align: justify;
    display: inline-block;
    background-color: #e5e5e5;
    border: solid 1px #e5e5e5;
    height: 512px;
    width: 572px;
    padding: 0px 20px 20px;
    overflow-y: auto;
}
#where-things-happens {
    display: inline-block;
    background-image: url("../img/bridge.png");
    border: solid 1px #e5e5e5;
    height: 282px;
    width: 611px;
}
#where-things-happens.esquerda {
    background-image: url("../img/esquerda.png");
}
#where-things-happens.direita {
    background-image: url("../img/direita.png");
}
#where-things-happens > #lane {
    margin-top: 150px;
    width: 611px;
    height: 88px;
    //background-color: red;
    position: absolute;
}

.car {
    width: 90px;
    height: 90px;
    background-image: url("../img/car2.png");
    background-size: 90px 90px;
    border-radius: 50px;
    position: absolute;
}

.car.direita {
    transform: rotate(180deg);
}
h1 {
    text-align: center;
    font-family: tahoma, sans-serif;
    font-weight: bolder;
}